
__pycache__/

venv/
\.idea/deployment\.xml

\.idea/encodings\.xml

\.idea/workspace\.xml

examples/login\.json

librus_tricks\.egg-info/

dist/

build/

\.idea/

librus_tricks/deprecated/

librus_tricks/cache\.sqlite
/examples/cache.sqlite
/cache.sqlite
